<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>タイ・ビジネス　ナビゲーター</title>
<link href="css/base.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/style.css" />
<script type="text/javascript" src="js/tinybox.js"></script>
</head>
<body>
<div id="mainHeader">
  <div id="nav-top">
    <h1>タイのビジネス情報が欲しい人とアドバイザーの出会いの場。</h1>
    <ul>
      <li class="first"><a href="ap-advsr.html"><img src="images/nav/nav-advisor.png" alt="" /></a></li>
      <li class="first"><a href="ap-company.html"><img src="images/nav/nav-02.png" alt="" /></a></li>
      <li><a href="advertising.html"><img src="images/nav/nav-03.png" alt="" /></a></li>
      <li><a href="policy.html"><img src="images/nav/nav-04.png" alt="" /></a></li>
      <li><a href="jimukyoku.html"><img src="images/nav/nav-05.png" alt="" /></a></li>
    </ul>
  </div>
  <div id="header">
    <div class="header-left">
      <div class="logo"> <a href="index.html"><img src="images/logo.jpg" alt="" /></a> </div>
      <p class="update">2011年5月20日更新！</p>
    </div>
    <div class="banner"> <img src="images/img/banner592x85.gif" alt="" /> </div>
  </div>
</div>
<div id="nav">
  <ul>
    <li class="home"><a href="index.html"><span>home</span></a></li>
    <li class="consult"><a href="advisorall.html"><span>アドバイザーに相談する</span></a></li>
    <li class="listcompany"><a href="listtop.html"><span>登録企業リストを見る</span></a></li>
    <li class="information"><a href="cordinator.html"><span>コーディネーター紹介</span></a></li>
    <li class="businessinfo"><a href="#"><span>ユニークビジネス紹介</span></a></li>
    <li class="feedback"><a href="contact.html"><span>ご意見・改善提案</span></a></li>
  </ul>
</div>
<div id="mainContent">
  <ul class="pr">
    <li><a href="#">登録企業リストを見る登録企業リストを見る</a></li>
    <li><a href="#">登録企業リストを見る登録企業リストを見る</a></li>
    <li><a href="#">登録企業リストを見る登録企業リストを見る</a></li>
  </ul>
  <div id="contentInner">
  <div id="sidebarLeft"> 
  <div class="advisorall">
  <h2><img src="images/img/tit-advisorall.jpg" alt="" /></h2>
  <p>アドバイザーへの質問と調査依頼は、その内容ができるだけ合っている専門の方を選んでお問合せください。もし該当するのが誰かわからなかったり、アドバイザーからなかなか返答が来ない場合は、コーディネーターへお問合せください。</p>
<p>ご質問内容によっては有料になる場合があります。例えば下記のようなケースは有料です。<br />
○ 個別事項や特殊事項の場合・・・例：「銅パイプを加工してくれる会社を教えてください」<br />
○ 調査を要する場合・・・例：「わが社の製品をタイで販売したいのですが、法律上の規制を教えてください」<br />
有料になる場合は、あらかじめお見積もりをお出しします。</p>

 <table class="list-advisor" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th width="124">専門</th>
    <th width="92">氏名</th>
     <th width="63">&nbsp;</th>
      <th width="280">経歴</th>
      <th width="73">&nbsp;</th>
  </tr>
  <tr>
  <td>翻訳、通訳</td>
    <td>小堤　一郎</td>
    <td class="center"><img src="images/img/img-sample05.jpg" alt="" /></td>
    <td>東京工業大学化学工学卒。日揮（株）原子力事業本部。タイで翻訳、通訳会社経営。1994年タイ商務省からビジネスマンオブザイヤー受賞。</td>
    <td class="center"><a href="advisorsolo.html">詳　細</a></td>
  </tr>
    <tr>
        <td class="grey"></td>
    <td class="grey"></td>
    <td class="grey"></td>
    <td class="grey"></td>
    <td class="grey"></td>
  </tr>
      <tr>
        <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
   <tr>
        <td class="grey"></td>
    <td class="grey"></td>
    <td class="grey"></td>
    <td class="grey"></td>
    <td class="grey"></td>
  </tr>
      <tr>
        <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
   <tr>
        <td class="grey"></td>
    <td class="grey"></td>
    <td class="grey"></td>
    <td class="grey"></td>
    <td class="grey"></td>
  </tr>
      <tr>
        <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
      <tr>
        <td class="grey"></td>
    <td class="grey"></td>
    <td class="grey"></td>
    <td class="grey"></td>
    <td class="grey"></td>
  </tr>
<tr>
<td class="last"></td>    
    <td class="last"></td>    
    <td class="last"></td>
    <td class="last"></td>
    <td class="last"></td>
  </tr>
</table>

  
 </div>
  </div>
  <div id="sidebarRight">
 <div class="btm10"><img src="images/img/img-sample3.gif" alt="" /></div>
 <div class="btm10"><img src="images/img/img-sample3.gif" alt="" /></div>
 <div class="btm10"><a href="ap-company.html"><img src="images/img/banner-right.jpg" alt="" /></a></div>
   <div><a href="ap-advsr.html"><img src="images/img/banner-right2.jpg" alt="" /></a></div>
</div>
</div>
</div>
<div id="footer">
  <div class="footer-menu">
    <ul>
      <li><a href="index.html">トップ</a></li>
      <li><a href="advisorall.html">アドバイザーに相談する</a></li>
      <li><a href="listtop.html">登録企業リストを見る</a></li>
      <li><a href="cordinator.html">コーディネーター紹介</a></li>
      <li><a href="#">ユニークビジネス紹介</a></li>
      <li><a href="contact.html">ご意見・改善提案</a></li>
      <li><a href="ap-advsr.html">アドバイザー募集</a></li>
      <li><a href="ap-company.html">企業リスト登録</a></li>
      <li class="last"><a href="advertising.html">広告に関して</a></li>
      <li><a href="policy.html">サイトポリシー</a></li>
      <li><a href="jimukyoku.html">運営事務局</a></li>
      <li class="last"><a href="#">お問い合せ</a></li>
    </ul>
  </div>
  <p>Copyright(c) タイ・ビジネス・ナビゲーター  All Rights Reserved.</p>
</div>
</body>
</html>