<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>タイ・ビジネス　ナビゲーター</title>
<link href="css/base.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/style.css" />
<script type="text/javascript" src="js/tinybox.js"></script>
</head>
<body>
<div id="mainHeader">
  <div id="nav-top">
    <h1>タイのビジネス情報が欲しい人とアドバイザーの出会いの場。</h1>
    <ul>
      <li class="first"><a href="ap-advsr.html"><img src="images/nav/nav-advisor.png" alt="" /></a></li>
      <li class="first"><a href="ap-company.html"><img src="images/nav/nav-02.png" alt="" /></a></li>
      <li><a href="advertising.html"><img src="images/nav/nav-03.png" alt="" /></a></li>
      <li><a href="policy.html"><img src="images/nav/nav-04.png" alt="" /></a></li>
      <li><a href="jimukyoku.html"><img src="images/nav/nav-05.png" alt="" /></a></li>
    </ul>
  </div>
  <div id="header">
    <div class="header-left">
      <div class="logo"> <a href="index.html"><img src="images/logo.jpg" alt="" /></a> </div>
      <p class="update">2011年5月20日更新！</p>
    </div>
    <div class="banner"> <img src="images/img/banner592x85.gif" alt="" /> </div>
  </div>
</div>
<div id="nav">
  <ul>
    <li class="home"><a href="index.html"><span>home</span></a></li>
    <li class="consult"><a href="advisorall.html"><span>アドバイザーに相談する</span></a></li>
    <li class="listcompany"><a href="listtop.html"><span>登録企業リストを見る</span></a></li>
    <li class="information"><a href="cordinator.html"><span>コーディネーター紹介</span></a></li>
    <li class="businessinfo"><a href="#"><span>ユニークビジネス紹介</span></a></li>
    <li class="feedback"><a href="contact.html"><span>ご意見・改善提案</span></a></li>
  </ul>
</div>
<div id="mainContent">
  <ul class="pr">
    <li><a href="#">登録企業リストを見る登録企業リストを見る</a></li>
    <li><a href="#">登録企業リストを見る登録企業リストを見る</a></li>
    <li><a href="#">登録企業リストを見る登録企業リストを見る</a></li>
  </ul>
  <div id="sidebarLeft"> <img src="images/img/banner-top.jpg" alt="" border="0" usemap="#Map" />
    <div id="popup"><map name="Map" id="Map">
      <area shape="rect" coords="342,99,468,115" href="#" alt="" />
    </map>
    </div>
<h2 class="m10"><img src="images/img/tit-01.jpg" alt="" /></h2>
    <div class="block1 r10">
      <h3>翻訳・通訳</h3>
      <div class="pic"><img src="images/img/img-sample01.jpg" alt="" /></div>
      <div class="detail"><span>氏名：</span>小堤一郎（おずつみいちろう）<br />
        <span>所属：</span>Ohmi Corporation Co.,Ltd.<br />
        <span>経歴：</span>東京工業大学化学工学卒。日揮（株）原子力事業本部。タイで翻訳、通訳会社経営。1994年タイ商務省からビジネスマ</div>
    </div>
    <div class="block1">
      <h3>翻訳・通訳</h3>
      <div class="pic"><img src="images/img/img-sample01.jpg" alt="" /></div>
      <div class="detail"><span>氏名：</span>小堤一郎（おずつみいちろう）<br />
        <span>所属：</span>Ohmi Corporation Co.,Ltd.<br />
        <span>経歴：</span>東京工業大学化学工学卒。日揮（株）原子力事業本部。タイで翻訳、通訳会社経営。1994年タイ商務省からビジネスマ</div>
    </div>
    <div class="block1 r10">
      <h3>翻訳・通訳</h3>
      <div class="pic"><img src="images/img/img-sample01.jpg" alt="" /></div>
      <div class="detail"><span>氏名：</span>小堤一郎（おずつみいちろう）<br />
        <span>所属：</span>Ohmi Corporation Co.,Ltd.<br />
        <span>経歴：</span>東京工業大学化学工学卒。日揮（株）原子力事業本部。タイで翻訳、通訳会社経営。1994年タイ商務省からビジネスマ</div>
    </div>
    <div class="block1">
      <h3>翻訳・通訳</h3>
      <div class="pic"><img src="images/img/img-sample01.jpg" alt="" /></div>
      <div class="detail"><span>氏名：</span>小堤一郎（おずつみいちろう）<br />
        <span>所属：</span>Ohmi Corporation Co.,Ltd.<br />
        <span>経歴：</span>東京工業大学化学工学卒。日揮（株）原子力事業本部。タイで翻訳、通訳会社経営。1994年タイ商務省からビジネスマ</div>
    </div>
    <div class="btn-center"><a href="advisorall.html"><img src="images/button/btn-01.jpg" alt="" /></a></div>
    <div class="clear"></div>
    <div class="col-left">
      <h2><img src="images/img/tit-02.jpg" alt="" /></h2>
      <div class="link">
        <ul>
          <li><a href="http://www.th.emb-japan.go.jp/" target="_blank">在タイ日本大使館</a></li>
          <li><a href="http://www.jetro.go.jp/indexj.html" target="_blank">ジェトロ（日本貿易振興機構）</a></li>
          <li><a href="http://www.jat.or.th/" target="_blank">>タイ国日本人会</a></li>
          <li><a href="http://www.thaiembassy.jp/rte1/" target="_blank">>在日タイ大使館</a></li>
          <li><a href="http://www.hellothai.com/" target="_blank">>ハロータイランド</a></li>
        </ul>
      </div>
      <div class="exchange">
        <iframe frameborder="0" scrolling="no" width="178" height="165" src="http://www.bangkokbank.com/fxbanner/banner1.htm"></iframe>
      </div>
       <div>
   <!-My calendar widget - HTML code - mycalendar.org --><div align="center" style="margin:15px 0px 0px 0px"><noscript><div align="center" style="width:140px;border:1px solid #ccc;background:#fff ;color: #fff ;font-weight:bold;"><a style="font-size:12px;text-decoration:none;color:#000 ;" href="http://mycalendar.org/Holiday/Thailand/">Thailand Calendar</a></div></noscript><script type="text/javascript" src="http://mycalendar.org/calendar.php?group=Holiday&calendar=Thailand&widget_number=2&cp3_Hex=8F228f&cp2_Hex=FFFFF3&cp1_Hex=090909&fwdt=200&lab=1"></script></div><!-end of code-->
    </div>
    </div>
    <div class="col-right">
      <h2><img src="images/img/tit-03.jpg" alt="" /></h2>
      <div class="introduced">
        <ul>
          <li>在タイ日本大使館在タイ日本大使館在タイ日本大使館在タイ日本大使館在タイ日本大使館在タイ日本大使館</li>
        </ul>
      </div>
      <img class="btm10" src="images/img/banner-410x50.gif" alt="" />
      <ul class="banner">
        <li class="r10"><img src="images/img/banner200x40.gif" alt="" /></li>
        <li><img src="images/img/banner200x40.gif" alt="" /></li>
      </ul>
    </div>
  </div>
  <div id="sidebarRight">
    <h2><img src="images/img/tit-06.jpg" alt="" /></h2>
    <div class="cordinator">
      <div class="pic"><a href="cordinator.html"><img src="images/img/img-sample02.jpg" alt="" /></a></div>
      <div class="detail"><span>氏名：</span>小堤一郎（おずつみいちろう）<br />
        <span>経歴：</span>東京工業大学化学工学卒。日揮（株）原子力事業本部。タイで翻訳、通訳会社経営。1994年タイ商務省からビジネスマンオブザイヤー受賞。</div>
    </div>
     <h2><img src="images/img/tit-04.jpg"  alt="" /></h2>
  <div class="list-regis">
    <p><a href="listtop.html">会社設立（11）、仕入れサポート（11）、法律（11）、会計（11）、人材紹介（11）、不動産（11）、市場調査（11）、コンピュータ（11）、翻訳・通訳（11）、デザイン・印刷（11）、エアチケット（11）、通関・運送（11）、工場・プラント設計（11）、レンタルオフィス（11）、国際電話サービス（11）、リース（11）、レンタカー（11）</a></p>
  </div>
  <h2><img src="images/img/tit-05.jpg" alt="" /></h2>
  <div class="list-regis">
    <p><span class="pic"><img src="images/img/img80x80.jpg" alt="" /></span><em>業種：</em>翻訳・通訳<br />
<em>会社名：</em>Ohmi Corporation .......<br />
<em>セールスポイント：</em>あらゆるジャンルの翻訳、通訳をします。リーズナブル格で質の高いサービスを！</p>
  </div>
  <div class="btm10"><a href="ap-company.html"><img src="images/img/banner-right.jpg" alt="" /></a></div>
  <div class="btm10"><a href="#"><img src="images/img/banner300x40.jpg" alt="" /></a></div>
     <h2><img src="images/img/tit-07.jpg"  alt="" /></h2>
  <div class="cordinator">
    <p>中古オフィス家具販売<br />
日本製の新品のオフィス用品は高すぎるし、かといってタイの製品は耐久性に問題があったり、デザインがイマイチ。 それならば中古品でも日本製がいいと思うのは私一人ではないはずです。でもなぜか今までタイにはなかった商売です。今年の４月にバンコク郊外にオープンしたので、レポートしてきました。</p>
  </div>
  <div><a href="ap-advsr.html"><img src="images/img/banner-right2.jpg" alt="" /></a></div>
</div>
</div>
</div>
<div id="footer">
  <div class="footer-menu">
    <ul>
      <li><a href="index.html">トップ</a></li>
      <li><a href="advisorall.html">アドバイザーに相談する</a></li>
      <li><a href="listtop.html">登録企業リストを見る</a></li>
      <li><a href="cordinator.html">コーディネーター紹介</a></li>
      <li><a href="#">ユニークビジネス紹介</a></li>
      <li><a href="contact.html">ご意見・改善提案</a></li>
      <li><a href="ap-advsr.html">アドバイザー募集</a></li>
      <li><a href="ap-company.html">企業リスト登録</a></li>
      <li class="last"><a href="advertising.html">広告に関して</a></li>
      <li><a href="policy.html">サイトポリシー</a></li>
      <li><a href="jimukyoku.html">運営事務局</a></li>
      <li class="last"><a href="#">お問い合せ</a></li>
    </ul>
  </div>
  <p>Copyright(c) タイ・ビジネス・ナビゲーター  All Rights Reserved.</p>
</div>
<script type="text/javascript">
	T$('popup').onclick = function(){TINY.box.show('purpose.html',1,300,150,1)}
</script>
</body>
</html>