<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>タイ・ビジネス　ナビゲーター</title>
<link href="css/base.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/style.css" />
<script type="text/javascript" src="js/tinybox.js"></script>
</head>
<body>
<div id="mainHeader">
  <div id="nav-top">
    <h1>タイのビジネス情報が欲しい人とアドバイザーの出会いの場。</h1>
    <ul>
      <li class="first"><a href="ap-advsr.html"><img src="images/nav/nav-advisor.png" alt="" /></a></li>
      <li class="first"><a href="ap-company.html"><img src="images/nav/nav-02.png" alt="" /></a></li>
      <li><a href="advertising.html"><img src="images/nav/nav-03.png" alt="" /></a></li>
      <li><a href="policy.html"><img src="images/nav/nav-04.png" alt="" /></a></li>
      <li><a href="jimukyoku.html"><img src="images/nav/nav-05.png" alt="" /></a></li>
    </ul>
  </div>
  <div id="header">
    <div class="header-left">
      <div class="logo"> <a href="index.html"><img src="images/logo.jpg" alt="" /></a> </div>
      <p class="update">2011年5月20日更新！</p>
    </div>
    <div class="banner"> <img src="images/img/banner592x85.gif" alt="" /> </div>
  </div>
</div>
<div id="nav">
  <ul>
    <li class="home"><a href="index.html"><span>home</span></a></li>
    <li class="consult"><a href="advisorall.html"><span>アドバイザーに相談する</span></a></li>
    <li class="listcompany"><a href="listtop.html"><span>登録企業リストを見る</span></a></li>
    <li class="information"><a href="cordinator.html"><span>コーディネーター紹介</span></a></li>
    <li class="businessinfo"><a href="#"><span>ユニークビジネス紹介</span></a></li>
    <li class="feedback"><a href="contact.html"><span>ご意見・改善提案</span></a></li>
  </ul>
</div>
<div id="mainContent">
  <ul class="pr">
    <li><a href="#">登録企業リストを見る登録企業リストを見る</a></li>
    <li><a href="#">登録企業リストを見る登録企業リストを見る</a></li>
    <li><a href="#">登録企業リストを見る登録企業リストを見る</a></li>
  </ul>
  <div id="contentInner">
  <div id="sidebarLeft"> 
  <div class="advisorsolo">
  <h2 class="btm10"><img src="images/img/tit-listsolo.jpg" alt="" /></h2>
  <p class="txt_top">翻訳・通訳<br />
Ohmi Corporation Co., Ltd.</p>
 <div class="detail2">
<h3><img src="images/img/tit-12.jpg" alt="" /></h3>
<p>東京工業大学化学工学卒。日揮（株）原子力事業本部。タイで翻訳、通訳会社経営。1994年タイ商務省からビジネスマンオブザイヤー受賞。</p>
<h3><img src="images/img/tit-13.jpg" alt="" /></h3>
<p>１．翻訳業務<br />
翻訳対象言語<br />
タイ語、英語、日本語<br />
カンボジア語、ラオス語、ミャンマー語（要相談）</p>

<p>翻訳対応可能分野<br />
マニュアル、ＩＳＯ，法律、技術書、証明書、パンフレットその他</p>

<p>使用ＯＳ<br />
ワード、エクセル、パワーポイント<br />
イラストレーター、インデザイン（有料）</p>

<p>２．通訳業務<br />
対象言語<br />
タイ語、英語、日本語</p>

<p>通訳レベル<br />
ＶＩＰおよび専門通訳<br />
ＶＩＰの来訪時や専門知識が必要なときにご利用ください。</p>
  </div>
  <div class="list-grey">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th>代表者：</th>
    <td>小堤 一郎</td>
  </tr>
    <tr>
    <th>設　立：</th>
    <td>1989年1月6日</td>
  </tr>
    <tr>
    <th>資本金：</th>
    <td>4,000,000　バーツ</td>
  </tr>
    <tr>
    <th>所在地：</th>
    <td>128/94 8F, Room K Payatai Plaza, Phayathai Rd.,Ratcatewie, Bangkok</td>
  </tr>
</table>
  </div>
<div class="clear"></div>
<div class="btn-center2"><a href="#"><img src="images/button/btn-07.jpg" alt="" /></a></div>
  <form action="" method="get">
<table class="form-advisor" width="640" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th>名前　：</th>
    <td><input class="txt" name="" type="text" /></td>
  </tr>
  <tr>
    <th>会社名 　：</th>
    <td><input class="txt" name="" type="text" /></td>
  </tr>
    <tr>
    <th>メールアドレス　：</th>
    <td><input class="txt" name="" type="text" /></td>
  </tr>
    <tr>
    <th>電話番号 　：</th>
    <td><input class="txt" name="" type="text" /></td>
  </tr>
    <tr>
    <th>住所　：</th>
    <td><input class="txt" name="" type="text" /></td>
  </tr>
    <tr>
    <th>お問い合わせ事項　：</th>
    <td><input name="" type="radio" value="" /> 見積り依頼 <input name="" type="radio" value="" /> 問い合わせ</td>
  </tr>
    <tr>
    <th>お問い合わせ内容   　：</th>
    <td><textarea name="" cols="" rows="5"></textarea></td>
  </tr>
    <tr>
    <th>予算 　：</th>
    <td><input class="txt" name="" type="text" /></td>
  </tr>
    <tr>
    <th>希望納期 　：</th>
    <td><input class="txt" name="" type="text" /></td>
  </tr>
</table>
<div class="btn-center2"><a href="#"><img src="images/button/btn-08.jpg" alt="" /></a></div>
</form>
 </div> </div>
  <div id="sidebarRight">
 <div class="btm10"><img src="images/img/img-sample3.gif" alt="" /></div>
 <div class="btm10"><img src="images/img/img-sample3.gif" alt="" /></div>
 <div class="btm10"><a href="ap-company.html"><img src="images/img/banner-right.jpg" alt="" /></a></div>
   <div><a href="ap-advsr.html"><img src="images/img/banner-right2.jpg" alt="" /></a></div>
</div>
</div>
</div>
<div id="footer">
  <div class="footer-menu">
    <ul>
      <li><a href="index.html">トップ</a></li>
      <li><a href="advisorall.html">アドバイザーに相談する</a></li>
      <li><a href="listtop.html">登録企業リストを見る</a></li>
      <li><a href="cordinator.html">コーディネーター紹介</a></li>
      <li><a href="#">ユニークビジネス紹介</a></li>
      <li><a href="contact.html">ご意見・改善提案</a></li>
      <li><a href="ap-advsr.html">アドバイザー募集</a></li>
      <li><a href="ap-company.html">企業リスト登録</a></li>
      <li class="last"><a href="advertising.html">広告に関して</a></li>
      <li><a href="policy.html">サイトポリシー</a></li>
      <li><a href="jimukyoku.html">運営事務局</a></li>
      <li class="last"><a href="#">お問い合せ</a></li>
    </ul>
  </div>
  <p>Copyright(c) タイ・ビジネス・ナビゲーター  All Rights Reserved.</p>
</div>
</body>
</html>