<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>タイ・ビジネス　ナビゲーター</title>
<link href="css/base.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/style.css" />
<script type="text/javascript" src="js/tinybox.js"></script>
</head>
<body>
<div id="mainHeader">
  <div id="nav-top">
    <h1>タイのビジネス情報が欲しい人とアドバイザーの出会いの場。</h1>
    <ul>
      <li class="first"><a href="ap-advsr.html"><img src="images/nav/nav-advisor.png" alt="" /></a></li>
      <li class="first"><a href="ap-company.html"><img src="images/nav/nav-02.png" alt="" /></a></li>
      <li><a href="advertising.html"><img src="images/nav/nav-03.png" alt="" /></a></li>
      <li><a href="policy.html"><img src="images/nav/nav-04.png" alt="" /></a></li>
      <li><a href="jimukyoku.html"><img src="images/nav/nav-05.png" alt="" /></a></li>
    </ul>
  </div>
  <div id="header">
    <div class="header-left">
      <div class="logo"> <a href="index.html"><img src="images/logo.jpg" alt="" /></a> </div>
      <p class="update">2011年5月20日更新！</p>
    </div>
    <div class="banner"> <img src="images/img/banner592x85.gif" alt="" /> </div>
  </div>
</div>
<div id="nav">
  <ul>
    <li class="home"><a href="index.html"><span>home</span></a></li>
    <li class="consult"><a href="advisorall.html"><span>アドバイザーに相談する</span></a></li>
    <li class="listcompany"><a href="listtop.html"><span>登録企業リストを見る</span></a></li>
    <li class="information"><a href="cordinator.html"><span>コーディネーター紹介</span></a></li>
    <li class="businessinfo"><a href="#"><span>ユニークビジネス紹介</span></a></li>
    <li class="feedback"><a href="contact.html"><span>ご意見・改善提案</span></a></li>
  </ul>
</div>
<div id="mainContent">
  <ul class="pr">
    <li><a href="#">登録企業リストを見る登録企業リストを見る</a></li>
    <li><a href="#">登録企業リストを見る登録企業リストを見る</a></li>
    <li><a href="#">登録企業リストを見る登録企業リストを見る</a></li>
  </ul>
  <div id="contentInner">
  <div id="sidebarLeft"> 
  <h2><img src="images/img/tit-listtop.jpg" alt="" /></h2>
  <ul class="listtop">
  <li class="twoline"><a href="#">会社設立<br />
ビザ・会計</a></li>
  <li><a href="#">法律事務所</a></li>
  <li class="twoline"><a href="#">仕入れサポート<br />
業務代行</a></li>
  <li><a href="#">翻訳・通訳</a></li>
  <li class="last"><a href="#">人材紹介</a></li>
   <li><a href="#">不動産</a></li>
  <li><a href="#">コンピュータ</a></li>
  <li><a href="#">広告・デザイン</a></li>
  <li><a href="#">印刷</a></li>
  <li class="last twoline"><a href="#">市場調査<br />
マーケティング</a></li>
   <li><a href="#">エアチケット</a></li>
  <li><a href="#">レンタカー</a></li>
  <li class="twoline"><a href="#">レンタルオ<br />フィス</a></li>
  <li class="twoline"><a href="#">工場・プラン<br />ト設計</a></li>
  <li class="last"><a href="#">リース</a></li>
   <li><a href="#">イベント・企画</a></li>
  <li><a href="#">運送・通関</a></li>
  <li><a href="#">ウェブ制作</a></li>
  <li><a href="#">オフィス内装</a></li>
  <li class="last"><a href="#">その他</a></li>
  </ul>
  <div class="list-corp">
  <div class="pic"><img src="images/img/img110x110.jpg" alt="" /></div>
  <table width="490" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th width="115">会社名：</th>
    <td width="280">Ohmi Corporation Co.,Ltd.</td>
    <td rowspan="4"><a href="listsolo.html"><img src="images/button/btn-list.jpg" alt="" /></a></td>
  </tr>
   <tr>
    <th>代表者：</th>
    <td>小堤 一郎</td>
  </tr>
  <tr>
    <th>設　立：</th>
    <td>1989年1月6日</td>
  </tr>
  <tr>
    <th>セールスポイント：</th>
    <td>あらゆるジャンルの翻訳、通訳をします。<br />リーズナブルな価格で質の高いサービスを！３</td>
  </tr>
</table>
  </div>
  <div class="list-corp">
  <div class="pic"><img src="images/img/img110x110.jpg" alt="" /></div>
  <table width="490" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th width="115">会社名：</th>
    <td width="280">Ohmi Corporation Co.,Ltd.</td>
    <td rowspan="4"><a href="listsolo.html"><img src="images/button/btn-list.jpg" alt="" /></a></td>
  </tr>
   <tr>
    <th>代表者：</th>
    <td>小堤 一郎</td>
  </tr>
  <tr>
    <th>設　立：</th>
    <td>1989年1月6日</td>
  </tr>
  <tr>
    <th>セールスポイント：</th>
    <td>あらゆるジャンルの翻訳、通訳をします。<br />リーズナブルな価格で質の高いサービスを！３</td>
  </tr>
</table>
  </div>
  <div class="list-corp">
  <div class="pic"><img src="images/img/img110x110.jpg" alt="" /></div>
  <table width="490" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th width="115">会社名：</th>
    <td width="280">Ohmi Corporation Co.,Ltd.</td>
    <td rowspan="4"><a href="listsolo.html"><img src="images/button/btn-list.jpg" alt="" /></a></td>
  </tr>
   <tr>
    <th>代表者：</th>
    <td>小堤 一郎</td>
  </tr>
  <tr>
    <th>設　立：</th>
    <td>1989年1月6日</td>
  </tr>
  <tr>
    <th>セールスポイント：</th>
    <td>あらゆるジャンルの翻訳、通訳をします。<br />リーズナブルな価格で質の高いサービスを！３</td>
  </tr>
</table>
  </div>
  
  
  </div>
  <div id="sidebarRight">
 <div class="btm10"><img src="images/img/img-sample3.gif" alt="" /></div>
 <div class="btm10"><img src="images/img/img-sample3.gif" alt="" /></div>
 <div class="btm10"><a href="ap-company.html"><img src="images/img/banner-right.jpg" alt="" /></a></div>
   <div><a href="ap-advsr.html"><img src="images/img/banner-right2.jpg" alt="" /></a></div>
</div>
</div>
</div>
<div id="footer">
  <div class="footer-menu">
    <ul>
      <li><a href="index.html">トップ</a></li>
      <li><a href="advisorall.html">アドバイザーに相談する</a></li>
      <li><a href="listtop.html">登録企業リストを見る</a></li>
      <li><a href="cordinator.html">コーディネーター紹介</a></li>
      <li><a href="#">ユニークビジネス紹介</a></li>
      <li><a href="contact.html">ご意見・改善提案</a></li>
      <li><a href="ap-advsr.html">アドバイザー募集</a></li>
      <li><a href="ap-company.html">企業リスト登録</a></li>
      <li class="last"><a href="advertising.html">広告に関して</a></li>
      <li><a href="policy.html">サイトポリシー</a></li>
      <li><a href="jimukyoku.html">運営事務局</a></li>
      <li class="last"><a href="#">お問い合せ</a></li>
    </ul>
  </div>
  <p>Copyright(c) タイ・ビジネス・ナビゲーター  All Rights Reserved.</p>
</div>
</body>
</html>